body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  width: 100%;
  height: 86px;
  border-radius: 6px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.icon-wraper {
  width: 44px;
  height: 44px;
  border-radius: 200px;
}

.card-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #0B366B;
  margin-left: 2px;
}

.card-subheading {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 5px;
  color: #658AAF;
}

.icon-button {
  /* position: absolute; */
  width: 10px;
  height: 8px;
}

.poolBtnMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;
  border: none;
  width: 103px;
  height: 38px;
  color: #FFFFFF;
  background: #137CE7;
  border-radius: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.sidePoolBtn {
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0B366B;
  background-color: transparent;
}

.settingIcon {
  cursor: pointer;
}

.navList {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #0B366B;
  cursor: pointer;
}

.navListActive {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #137CE7;
}

.Enstyle {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px
}

.home-wrapper {
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 2%;
  padding-left: 240px;
  padding-right: 240px;
}

.main-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0B366B;
}

.header-title2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #0B366B;
  margin-left: 20px;
  margin-right: 20px;
}

.header-title3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #0B366B;
}

.title3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #74ACFF;
  border-radius: 3px;
  padding: 5px;
}

.card-title {
  color: #0B366B;
  font-size: 26px;
  font-weight: 600;
}

.card-text {
  color: #658AAF;
  font-size: 15px;
  font-Weight: 600;
}

.card {
  border-radius: 10px;
  border: none;
}

.mobile-navbar {
  display: none !important;
}

.icon-wombat {
  margin-right: 8px;
}

.pools-button-wrapper {
  width: 50%;
}

.top-card-left-image {
  height: 94px;
}

.column-purchase-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center,
}
@media screen and (max-width: 600px) {
  .mobile-navbar {
    display: block !important;
    padding: 5px;
    background-color: #F0F6FF;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .desktop-navbar {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .home-wrapper {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media screen and (max-width: 600px) {
  .main-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0B366B;
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .header-title2 {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0B366B;

  }
}

@media screen and (max-width: 600px) {
  .title3-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #74ACFF;
    border-radius: 5px;
    padding: 2px;
      width: 50%;
        margin-right: 2px;
  }
}

@media screen and (max-width: 600px) {
  .header-title3 {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #0B366B;
  }
}

@media screen and (max-width: 600px) {
  .icon-wombat {
    margin-right: 6px;
    height: 25px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .top-card-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .top-card-column-wrapper {
    width: 96%;
    margin-bottom: 10px;
    margin-top: 10px;

  }

  .card-body {
    height: 70px;
  }

  .card-body img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .card-heading {
    font-size: 11px;
  }

  .card-subheading {
    font-size: 10px;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 768px) {
  .icon-wraper {
    width: 22px;
    height: 22px;
    border-radius: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    width: 100%;
    height: 86px;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

@media screen and (max-width: 576px) {
  .poolBtnMain {
    width: fit-content;
    height: 28px;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .sidePoolBtn {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .pools-button-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .pools-button-wrapper {
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .card-title {
    color: #0B366B;
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (max-width: 576px) {
  .card-text {
    color: #658AAF;
    font-size: 12px;
    font-Weight: 600;
  }
}

@media screen and (max-width: 576px) {
  .top-card-left-image {
    height: 70px;
  }
}
@media screen and (max-width: 576px) {
  .connect-btn-wrapper {
    margin-top: 20px
  }
}
@media screen and (max-width: 576px) {
  .title1-title2-wrapper {
    width: 100% important;
    margin-right: 6px;
  }
}

@media screen and (max-width: 576px) {
  .column-purchase-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}